<template>
  <div>
    <div
      ref="leafletMap"
      class="map-container"
    />
    <div ref="leafletPopup">
      <LeafletPopup
        :marker="selectedMarker"
      />
    </div>
  </div>
</template>

<script lang="ts">
export default { name: 'LeafletMap' }
</script>

<script setup lang="ts">
import {
  h,
  onBeforeMount,
  onMounted,
  PropType,
  ref,
  toRefs,
  watch,
} from 'vue';
import { renderToString } from 'vue/server-renderer';

import type { Marker } from '@/types/leaflet';

import LeafletPopup from '@/components/leaflet/Popup.vue';
import LocationPinCar from '@/components/icons/LocationPinCar.vue';
import LocationPinF from '@/components/icons/LocationPinF.vue';
import LocationPin from '@/components/icons/LocationPin.vue';

const props = defineProps({
  center: {
    type: Array,
    required: true,
  },
  zoom: {
    type: Number,
    required: false,
    default: 12,
  },
  markers: {
    type: Object as PropType<LeafletMarker[]>,
    required: false,
    default: [],
  },
});

const { center, markers, zoom } = toRefs(props);

const leafletMap = ref(null);
const leafletMarkers = ref<LeafletMarker[]>([]);
const selectedMarker = ref<LeafletMarker>(null);
const leafletPopup = ref(null);
let leafletPopupInstance = null;

const defaultIcon = await renderToString(h(LocationPin, {
  class: 'pin__default--available',
}));
const flexIcon = await renderToString(h(LocationPinF, {
  class: 'pin__flex--available',
}));
const stationIconAvailable = await renderToString(h(LocationPinCar, {
  class: 'pin__station--available',
}));
const stationIconUnavailable = await renderToString(h(LocationPinCar, {
  class: 'pin__station--unavailable',
}));

let leafletMarkersLayerGroup = null;

const clickOnMarker = (marker) => {
  selectedMarker.value = marker;
  console.log('clickOnMarker', marker);
}

const bindPopupToMarkers = async () => {
  if (!leafletPopupInstance) {
    const { popup: LPopup } = await import('leaflet/dist/leaflet-src.esm');
    leafletPopupInstance = LPopup({
      minWidth: 300,
      keepInView: true,
      className: 'custom-popup',
      closeButton: false,
    }).setContent(leafletPopup.value);
  }
  leafletMarkers.value.forEach((marker) => {
    marker.instance.unbindPopup();
    marker.instance.bindPopup(leafletPopupInstance);
  });
}

onBeforeMount(async () => {
  // initIcons
  const {
    divIcon: LDivIcon,
    layerGroup: LLayerGroup,
    map: LMap,
    marker: LMarker,
    tileLayer: LTileLayer,
  } = await import('leaflet/dist/leaflet-src.esm');

  const mapInstance = LMap(leafletMap.value, {
    center: center.value,
    zoom: zoom.value,
    wheelPxPerZoomLevel: 150,
  });

  leafletMarkers.value = markers.value.map((marker: Marker) => {
    let icon = defaultIcon;
    if (marker.type === 'flex') icon = flexIcon;
    else if (marker.type === 'station') {
      icon = stationIconUnavailable;
      if (marker.station.recommendedVehicleId !== null)
        icon = stationIconAvailable;
    }

    const customIcon = LDivIcon({
      html: icon,
      iconAnchor: [12.5, 34],
      iconSize: [25, 34],
      popupAnchor: [0, -34],
    });

    return {
      id: marker.id,
      type: marker.type,
      instance: LMarker(marker.latLng, { icon: customIcon })
        .on('click', () => {
          clickOnMarker(marker);
        }),
    }
  });

  const layerMarkers = leafletMarkers.value.map((marker: LeafletMarker) => marker.instance);

  leafletMarkersLayerGroup = LLayerGroup(layerMarkers).addTo(mapInstance);

  LTileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
  }).addTo(mapInstance);
});

watch(markers, async (newMarkers, oldMarkers) => {
  const newMarkersDiff = newMarkers.filter(m => !oldMarkers.includes(m));
  const markersIntersect = newMarkers.filter(m => oldMarkers.includes(m));

  const newLeafletMarkers = [];
  const leafletMarkersToRemove = [];
  leafletMarkers.value.forEach((marker) => {
    if (markersIntersect.some(m => m.id === marker.id && m.type === marker.type)) {
      newLeafletMarkers.push(marker);
    } else {
      marker.instance.remove();
    }
  });

  const {
    marker: LMarker,
    divIcon: LDivIcon,
  } = await import('leaflet/dist/leaflet-src.esm');

  newLeafletMarkers.push(...newMarkersDiff.map((marker: Marker) => {
    let icon = defaultIcon;
    if (marker.type === 'flex') icon = flexIcon;
    else if (marker.type === 'station') {
      icon = stationIconUnavailable;
      if (marker.station.recommendedVehicleId !== null)
        icon = stationIconAvailable;
    };

    const customIcon = LDivIcon({
      html: icon,
      iconAnchor: [12.5, 34],
      iconSize: [25, 34],
      popupAnchor: [0, -34],
    });

    return {
      id: marker.id,
      type: marker.type,
      instance: LMarker(marker.latLng, { icon: customIcon })
        .addTo(leafletMarkersLayerGroup)
        .on('click', () => {
          clickOnMarker(marker);
        }),
    }
  }));

  leafletMarkers.value = newLeafletMarkers;

  bindPopupToMarkers();
});

onMounted(() => {
  bindPopupToMarkers();
});
</script>

<style lang="scss">
.map-container {
  .leaflet-div-icon {
    background: transparent;
    border: none;

    .pin {
      &__station {
        &--available {
          color: #f37f2c;
        }
        &--unavailable {
          color: #9fadb9;
        }
      }
      &__flex {
        &--available {
          color: #81ba3f;
        }
        &--unavailable {
          color: #81ba3f;
        }
      }
    }
  }
}
</style>

<style scoped lang="scss">
.map-container {
  height: calc(100vh - 50px);
}
</style>
