<template>
  <div
    v-if="marker && (details || isStationUnavailable)"
    class="popup"
  >
    <div v-if="marker.type === 'station' && !isStationUnavailable && details">
      <QCard>
        <QCardSection>
          <div>
            Station infos {{ details.vehicleId }}
          </div>
        </QCardSection>
      </QCard>
    </div>
    <div v-else-if="marker.type === 'station' && isStationUnavailable">
      <QCard>
        <QCardSection>
          <div>
            No vehicle available
          </div>
        </QCardSection>
      </QCard>
    </div>
    <div v-else-if="marker.type === 'flex' && details">
      <QCard>
        <QCardSection>
          <div class="text-h6">
            {{ details.make }}
            - {{ details.model }}
            ({{ details.colorLocalizedName }})
          </div>
        </QCardSection>
        <QSeparator />
        <QCardSection>
          <div class="row q-col-gutter-md">
            <QIcon
              v-if="getBodyType(details.vehicleBodyTypeId)"
              :name="fasCar"
              size="sm"
            >
              <QTooltip>
                {{ getBodyType(details.vehicleBodyTypeId).localizedName }}
              </QTooltip>
            </QIcon>
            <QIcon
              v-if="getPropulsionType(details.vehiclePropulsionTypeId)"
              :name="fasCarRear"
              size="sm"
            >
              <QTooltip>
                {{ getPropulsionType(details.vehiclePropulsionTypeId).localizedName }}
              </QTooltip>
            </QIcon>
            <QIcon
              v-if="getVehicleType(details.vehicleTypeId)"
              :name="fasCarSide"
              size="sm"
            >
              <QTooltip>
                {{ getVehicleType(details.vehicleTypeId).localizedName }}
              </QTooltip>
            </QIcon>
            <QIcon
              v-if="getTransmissionType(details.vehicleTransmissionTypeId)"
              :name="fasGear"
              size="sm"
            >
              <QTooltip>
                {{ getTransmissionType(details.vehicleTransmissionTypeId).localizedName }}
              </QTooltip>
            </QIcon>
            <QIcon
              v-if="getTireType(details.vehicleTireTypeId)"
              :name="fasSocks"
              size="sm"
            >
              <QTooltip>
                {{ getTireType(details.vehicleTireTypeId).localizedName }}
              </QTooltip>
            </QIcon>
          </div>
        </QCardSection>
        <QSeparator inset />
        <QCardSection>
          <div class="row items-center justify-between">
            <div
              v-if="getAccessories(details.vehicleAccessories)"
            >
              {{ getAccessories(details.vehicleAccessories).length }} accessorie(s)
            </div>
            <div>
              <QBtn
                color="primary"
                label="More"
                size="sm"
                flat
              />
            </div>
          </div>
        </QCardSection>
      </QCard>
    </div>
  </div>
  <div v-else>
    <QCard>
      <QCardSection>
        <QSkeleton type="QToolbar" />
      </QCardSection>
      <QSeparator />
      <QCardSection>
        <div class="row q-col-gutter-md skeleton-icons">
          <QSkeleton type="circle" size="30px" />
          <QSkeleton type="circle" size="30px" />
          <QSkeleton type="circle" size="30px" />
        </div>
      </QCardSection>
      <QSeparator inset />
      <QCardSection>
        <QSkeleton type="text" />
      </QCardSection>
    </QCard>
  </div>
</template>

<script lang="ts">
export default { name: 'LeafletPopup' }
</script>

<script setup lang="ts">
import { ref, toRefs, watch } from 'vue';
import { storeToRefs } from 'pinia';

import {
  fasSocks,
  fasCar,
  fasCarSide,
  fasCarRear,
  fasCircleQuestion,
  fasGear,
} from '@quasar/extras/fontawesome-v6';

import { useCitiesStore } from '@/stores/cities';
import { getFlexVehicleDetails } from '@/api/flex-vehicles';
import { getStationVehicleDetails } from '@/api/stations';

import type { VehicleDetails } from '@/types/vehicles';
import type { LeafletMarker } from '@/types/leaflet';

const props = defineProps({
  marker: {
    type: [Object as PropType<LeafletMarker>, null],
    required: true,
  },
});

const { marker } = toRefs(props);

const citiesStore = useCitiesStore();
const {
  selectedCity,
  getAccessory,
  getAccessories,
  getBodyType,
  getPropulsionType,
  getVehicleType,
  getTransmissionType,
  getTireType,
} = storeToRefs(citiesStore);

const details = ref<VehicleDetails | null>(null);
const isStationUnavailable = ref(false);

watch(marker, async () => {
  details.value = null;
  isStationUnavailable.value = false;
  if (marker.value && marker.value.type === 'flex') {
    details.value = await getFlexVehicleDetails(marker.value.flexVehicle.vehicleId, selectedCity.value.branchId);
  } else if (marker.value && marker.value.type === 'station') {
    if (marker.value.station.recommendedVehicleId !== null) {
      details.value = await getStationVehicleDetails(marker.value.station.recommendedVehicleId, selectedCity.value.branchId);
    } else {
      isStationUnavailable.value = true;
    }
  }
}, { immediate: true });
</script>

<style scoped lang="scss">
.popup {
  min-width: 300px;
}
.skeleton-icons {
  padding-left: 16px;
  padding-top: 16px;
}
</style>
