<template>
  <div class="row justify-center cities">
    <template v-if="!cities">
      <QList
        class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
        bordered
        separator
      >
        <QItem
          v-for="index in 7"
          :key="index"
        >
          <QItemSection>
            <QSkeleton type="text" />
          </QItemSection>
        </QItem>
      </QList>
    </template>
    <template v-else>
      <QList
        class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
        bordered
        separator
      >
        <QItem
          v-for="city in cities"
          :key="city.cityId"
          clickable
          @click="saveCity(city)"
        >
          <QItemSection>
            <div class="text-h6 text-center">
              {{ city.cityLocalizedName }}
            </div>
          </QItemSection>
        </QItem>
      </QList>
    </template>
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';

import { useCitiesStore } from '@/stores/cities';

const store = useCitiesStore();
const { cities, selectedCity } = storeToRefs(store);
const { init, selectCity } = store;

const router = useRouter();

async function saveCity(city: City) {
  await selectCity(city);
  router.push({ name: 'map' });
}

/* setTimeout(() => { */
/*   init(); */
/* }, 3000); */
</script>

<style scoped lang="scss">
.cities {
  margin: 30px;
}
</style>
