<template>
  <div class="map">
    <div v-if="isLoading">
      <QInnerLoading :showing="true" />
    </div>
    <template v-else>
      <QPageSticky
        position="top"
        class="floating-date-btn"
        :offset="[0, 18]"
      >
        <QBtnDropdown
          v-model="bookingOpened"
          color="primary"
          menu-anchor="bottom middle"
          menu-self="top middle"
          content-class="booking-dropdown-widget"
          no-caps
          rounded
        >
          <template #label>
            <div class="row items-center no-wrap">
              <QIcon
                left
                :name="fasCalendarDay"
                size="xs"
              />
              <div class="text-center">
                {{ t('booking.label') }}
              </div>
            </div>
          </template>

          <BookingWidget />
        </QBtnDropdown>
      </QPageSticky>

      <Suspense>
        <LeafletMap
          :center="cityCoords"
          :markers="markers"
        />

        <template #fallback>
          <QInnerLoading :showing="true" />
        </template>
      </Suspense>
    </template>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { fasCalendarDay } from '@quasar/extras/fontawesome-v6';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';

import { useCitiesStore } from '@/stores/cities';
import { useStationsStore } from '@/stores/stations';
import { useFlexVehiclesStore } from '@/stores/flex-vehicles';
import { useFiltersStore } from '@/stores/filters';
import { VehicleFilterType } from '@/types/filters';

import LeafletMap from '@/components/leaflet/Map.vue';
import BookingWidget from '@/components/BookingWidget.vue';

const { t } = useI18n();

// cities store
const citiesStore = useCitiesStore();
const {
  selectedCity,
  getAccessory,
  getAccessories,
  getBodyType,
  getPropulsionType,
  getVehicleType,
  getTransmissionType,
  getTireType,
} = storeToRefs(citiesStore);

// stations store
const stationsStore = useStationsStore();
const { markers: stationMarkers } = storeToRefs(stationsStore);
const { fetchStations } = stationsStore;

// flex vehicles store
const flexVehiclesStore = useFlexVehiclesStore();
const { markers: flexVehicleMarkers } = storeToRefs(flexVehiclesStore);
const { fetchFlexVehicles } = flexVehiclesStore;

const {
  type: vehicleFilterType,
  startDate,
  endDate,
} = storeToRefs(useFiltersStore());

// merged markers
const markers = computed(() => {
  if (vehicleFilterType.value === VehicleFilterType.Any) {
    return [...stationMarkers.value, ...flexVehicleMarkers.value];
  } else if (vehicleFilterType.value === VehicleFilterType.Station) {
    return [...stationMarkers.value];
  } else if (vehicleFilterType.value === VehicleFilterType.Flex) {
    return [...flexVehicleMarkers.value];
  }
  return [];
});

// booking
const bookingOpened = ref(false);

// others
const isLoading = computed(() => {
  return !selectedCity.value;
});

const cityCoords = computed(() => {
  return selectedCity.value
    ? [
      selectedCity.value.cityCenterLocation.latitude,
      selectedCity.value.cityCenterLocation.longitude,
    ]
    : [0, 0]
});

watch(selectedCity, () => {
  if (selectedCity.value) {
    if (startDate.value && endDate.value) {
      fetchStations(selectedCity.value.cityId, startDate.value, endDate.value);
    }
    fetchFlexVehicles(selectedCity.value.cityId);
  }
}, { immediate: true });

watch(startDate, () => {
  console.log('watch startDate', startDate.value, endDate.value)
  if (selectedCity.value && startDate.value && endDate.value) {
    console.log('watch startDate fetchStations')
    fetchStations(selectedCity.value.cityId, startDate.value, endDate.value);
  }
}, { immediate: true });

watch(endDate, () => {
  console.log('watch endDate', startDate.value, endDate.value)
  if (selectedCity.value && startDate.value && endDate.value) {
    console.log('watch endDate fetchStations')
    fetchStations(selectedCity.value.cityId, startDate.value, endDate.value);
  }
}, { immediate: true });
</script>

<style scoped lang="scss">
.map {
  .floating-date-btn {
    z-index: 500;
  }
}
</style>
