<template>
  <QScrollArea class="fit">
    <QList>
      <QItem
        v-for="item in menu"
        :key="item.name"
        clickable
        v-ripple
        @click="goToMenu(item)"
      >
        <QItemSection avatar>
          <QIcon :name="item.icon" />
        </QItemSection>
        <QItemSection>
          {{ item.label }}
        </QItemSection>
      </QItem>
    </QList>
  </QScrollArea>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { fasCity } from '@quasar/extras/fontawesome-v6';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';

const router = useRouter();
const { t } = useI18n();

type Menu = {
  name: string,
  route: string,
  label: string,
  icon: any,
}

const menu = ref<Menu[]>([{
  name: 'change-city',
  route: 'home',
  label: t('menu.change-city'),
  icon: fasCity,
}]);

function goToMenu(menu: Menu) {
  if (menu.name === 'change-city') {
    localStorage.removeItem('selectedCity');
  }
  router.push({ name: menu.route });
}
</script>
