<template>
  <QCard>
    <QCardSection>
      <QForm
        class="q-gutter-md"
        @submit="submitBooking"
        @reset="resetBooking"
      >
        <div class="column q-gutter-sm">
          <div class="row">
            <QInput
              v-model="from"
              :label="t('booking.from')"
              dense
            >
              <template #prepend>
                <QIcon
                  :name="fasCalendar"
                  size="xs"
                >
                  <QPopupProxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <QDate
                      v-model="from"
                      mask="DD/MM/YYYY HH:mm"
                      today-btn
                    >
                      <div class="row items-center justify-start">
                        <QBtn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </QDate>
                  </QPopupProxy>
                </QIcon>
              </template>
              <template #append>
                <QIcon
                  :name="fasClock"
                  size="xs"
                >
                  <QPopupProxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <QTime
                      v-model="from"
                      mask="DD/MM/YYYY HH:mm"
                      :minute-options="allowedMinutes"
                      format24h
                    >
                      <div class="row items-center justify-start">
                        <QBtn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </QTime>
                  </QPopupProxy>
                </QIcon>
              </template>
            </QInput>
          </div>
          <div class="row">
            <QInput
              v-model="to"
              :label="t('booking.to')"
              dense
            >
              <template #prepend>
                <QIcon
                  :name="fasCalendar"
                  size="xs"
                >
                  <QPopupProxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <QDate
                      v-model="to"
                      mask="DD/MM/YYYY HH:mm"
                      today-btn
                    >
                      <div class="row items-center justify-start">
                        <QBtn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </QDate>
                  </QPopupProxy>
                </QIcon>
              </template>
              <template #append>
                <QIcon
                  :name="fasClock"
                  size="xs"
                >
                  <QPopupProxy
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <QTime
                      v-model="to"
                      mask="DD/MM/YYYY HH:mm"
                      :minute-options="allowedMinutes"
                      format24h
                    >
                      <div class="row items-center justify-start">
                        <QBtn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </QTime>
                  </QPopupProxy>
                </QIcon>
              </template>
            </QInput>
          </div>
        </div>
        <div class="row items-center justify-between">
          <QBtn
            v-close-popup
            label="Close"
            color="primary"
            flat
          />
          <QBtn
            label="Submit"
            color="primary"
            @click="submitBooking"
          />
        </div>
      </QForm>
    </QCardSection>
  </QCard>
</template>

<script lang="ts">
export default { name: 'BookingWidget' }
</script>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { storeToRefs } from 'pinia';
import { fasCalendar, fasClock, fasMinus } from '@quasar/extras/fontawesome-v6';

import { VehicleFilterType } from '@/types/filters';
import { useFiltersStore } from '@/stores/filters';

const allowedMinutes = [0, 15, 30, 45];

const { t } = useI18n();

const filtersStore = useFiltersStore();
const { type, startDate, endDate } = storeToRefs(filtersStore);

const from = ref(startDate.value);
const to = ref(endDate.value);

function submitBooking() {
  startDate.value = from.value;
  endDate.value = to.value;
}

function resetBooking() {
  filtersStore.$reset();
}
</script>

<style lang="scss">
</style>
