<template>
  <svg
    viewBox="0 0 101.6 135.12"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
  >
    <path
      d="m50.801 9.4648a40.971 40.971 0 0 0-40.973 40.973 40.971 40.971 0 0 0 40.973 40.971 40.971 40.971 0 0 0 40.971-40.971 40.971 40.971 0 0 0-40.971-40.973z"
      fill="#fff"
    />
    <path
      d="m50.8 0c-28.056 0-50.8 22.744-50.8 50.8 0 23.125 30.718 64.294 44.53 81.28 3.2544 4.0481 9.287 4.0481 12.541 0 13.573-16.986 44.529-58.155 44.529-81.28 0-28.056-22.754-50.8-50.8-50.8zm0 9.4656a40.971 40.971 0 0 1 40.972 40.972 40.971 40.971 0 0 1-40.972 40.971 40.971 40.971 0 0 1-40.971-40.971 40.971 40.971 0 0 1 40.971-40.972z"
      fill="currentColor"
    />
    <path
      d="m22.665 36.864 4.5754-13.068c1.7513-5.007 6.4749-8.3589 11.78-8.3589h23.559c5.3048 0 10.024 3.3519 11.78 8.3589l4.5767 13.068c3.0164 1.2482 5.1487 4.2256 5.1487 7.6971v24.964c0 2.3013-1.8593 4.1606-4.1606 4.1606h-4.1606c-2.3013 0-4.1606-1.8593-4.1606-4.1606v-6.2409h-41.606v6.2409c0 2.3013-1.8632 4.1606-4.1606 4.1606h-4.1606c-2.2974 0-4.1606-1.8593-4.1606-4.1606v-24.964c0-3.4715 2.1271-6.4489 5.15-7.6971zm9.035-0.62408h38.199l-3.3935-9.6994c-0.58508-1.6642-2.1583-2.7824-3.9266-2.7824h-23.559c-1.7682 0-3.3415 1.1182-3.9266 2.7824zm-1.7032 8.3212c-2.2974 0-4.1606 1.8593-4.1606 4.1606 0 2.3013 1.8632 4.1606 4.1606 4.1606 2.3013 0 4.1606-1.8593 4.1606-4.1606 0-2.3013-1.8593-4.1606-4.1606-4.1606zm41.606 8.3212c2.3013 0 4.1606-1.8593 4.1606-4.1606 0-2.3013-1.8593-4.1606-4.1606-4.1606s-4.1606 1.8593-4.1606 4.1606c0 2.3013 1.8593 4.1606 4.1606 4.1606z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
export default { name: 'LocationPinCar' }
</script>
