<template>
  <svg
    version="1.1"
    viewBox="0 0 384 510.67"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
  >
    <path
      d="m192 0c-106.04 0-192 85.96-192 192 0 87.4 116.1 243 168.3 307.2 12.3 15.3 35.1 15.3 47.4 0 51.3-64.2 168.3-219.8 168.3-307.2-1e-5 -106.04-86-192-192-192zm0 35.775a154.85 154.85 0 0 1 154.85 154.85 154.85 154.85 0 0 1-154.85 154.85 154.85 154.85 0 0 1-154.85-154.85 154.85 154.85 0 0 1 154.85-154.85z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
export default { name: 'LocationPinEmpty' }
</script>
