<template>
  <svg
    version="1.1"
    viewBox="0 0 384 512"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
  >
    <path
      d="m384 192c0 87.4-117 243-168.3 307.2-12.3 15.3-35.1 15.3-47.4 0-52.2-64.2-168.3-219.8-168.3-307.2 0-106.04 85.96-192 192-192 106 0 192 85.96 192 192z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
export default { name: 'LocationPin' }
</script>
