<template>
  <QLayout view="hHh lpR fFf">
    <QHeader
      elevated
      class="bg-primary text-white"
    >
      <QToolbar>
        <QBtn
          dense
          flat
          round
          :icon="fasBars"
          @click="toggleLeftDrawer"
        />

        <QToolbarTitle>
          Communauto
        </QToolbarTitle>

        <div
          v-if="stationsIsLoading || flexVehiclesIsLoading"
          class="q-mr-md"
        >
          <QSpinnerOval
            color="grey-1"
            size="xs"
          />
          <span class="q-ml-sm">{{ t('app-bar.map-loading') }}</span>
        </div>

        <QSelect
          v-model="selectLangValue"
          :options="availableLangs"
          :display-value="localeToText[locale]"
          :options-dark="false"
          standout
          dense
          dark
        >
          <template #prepend>
            <QIcon :name="fasLanguage" />
          </template>
        </QSelect>
      </QToolbar>
    </QHeader>

    <QDrawer
      v-model="leftDrawerOpen"
      side="left"
      bordered
      overlay
    >
      <AppDrawer />
    </QDrawer>

    <QPageContainer>
      <RouterView />
    </QPageContainer>
  </QLayout>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { RouterLink, RouterView } from 'vue-router';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { fasBars, fasLanguage } from '@quasar/extras/fontawesome-v6';
import { useMapLoadingStore } from '@/stores/map-loading';
import { useCitiesStore } from '@/stores/cities';
import AppDrawer from '@/components/AppDrawer.vue';
import { AvailableLangs } from '@/types/langs';

const { stationsIsLoading, flexVehiclesIsLoading } = storeToRefs(useMapLoadingStore());

const i18n = useI18n();
const { locale, t } = i18n;
const { init } = useCitiesStore();

const leftDrawerOpen = ref(false);
const toggleLeftDrawer = () => {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}

const selectLangValue = ref({
  label: 'English',
  value: AvailableLangs.EN,
});
const localeToText = {
  [AvailableLangs.FR]: 'Français',
  [AvailableLangs.EN]: 'English',
};

const availableLangs = computed(() => {
  return Object.entries(localeToText).map(([key, value]) => ({
    label: value,
    value: key,
  }));
});

if (locale.value) {
  availableLangs.value.find((lang) => lang.value === locale.value);
}
watch(selectLangValue, ({ value }) => {
  locale.value = value;
});

init();
</script>
